{% extends 'base.html' %}

{% block title %}
<title>{{ title }}</title>
{% endblock %}

{% block content %}
<div id="record" class="column col-6"></div>
{% endblock %}

{% block script %}
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', _ => {
    const player = meduzaPlayer;

    fetch('{% url "get_record" id%}')
        .then(response => response.json())
        .then(data => {
            const content = [];
            for(let p of data.content.split('\n')){
                const _p = document.createElement('p');
                _p.innerHTML = p;
                content.push(_p);          
            }

            const t = document.createElement('p');
            t.innerHTML = data.title;

            document.getElementById('record').append(t, ...content);

            if(data.sound){
                player.changeTrack('{{ MEDIA_URL }}' + data.sound);
            }
        });
});
</script>
{% endblock %}